@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Are you a <a asp-area="" asp-controller="Connector" asp-action="Index">viewer</a> 
        or a <a asp-area="" asp-controller="Host" asp-action="Index">host</a>?</p>
</div>