@model Connector

<div id="codeLoad">
    <tr>
        <td>Game Code:</td>
        <td>@Model.GameCode</td>
    </tr>
    @if (!string.IsNullOrEmpty(@Model.GameCode))
    {
        <button onclick="location.reload()">Rejoin Queue</button>
    }
</div>