@model Host

<div id="playerList">
    @try
    {
        foreach (var person in @Model.UserList)
        {
            <tr>
                <td>@person.UserName</td>
            </tr>
        }
    }
    catch (NullReferenceException)
    {
        <p>Waiting for players to connect...</p>
    }


</div>

